
@media screen and (max-width: 800px) {
  main section.connect .content {
    flex-direction: column;
    gap: 0;
    padding-bottom: 100px;
  }

  main section.best-players {
    width: 100%;
  }

  main section.best-players .figure {
    display: none;
  }

  footer .content {
    padding: 15px;
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 500px) {
  .cookie-attention {
    display: none;
  }

  main section.connect .ip-icon {
    font-size: 200px;
  }
}