
@media screen and (max-width: 850px) {
  header .right {
    display: none;
  }

  main section.cover h1 {
    font-size: 40px;
  }

  main section.cover .socials .social {
    font-size: 30px;
  }

  main section.connect .content {
    flex-direction: column;
    gap: 0;
    padding-bottom: 100px;
  }

  main section.inset {
    width: 100%;
  }

  footer .content {
    padding: 15px;
    width: calc(100% - 30px);
  }


  main section.sale .content {
    flex-direction: column;
    padding: 50px;
  }

  main .sale .text {
    width: auto;
    height: auto;
    align-items: center;
  }

  main .mini-shop .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .cookie-attention {
    display: none;
  }

  main section.connect .ip-icon {
    font-size: 200px;
  }
}